<div class="row">
    <div class="col-3">
        <mdb-card>
            <mdb-card-body>
                <div class="inner-main">
                    <h2 class="mb-4">User Profile</h2>
                    <p><strong>First Name:</strong> {{this.currentUser.firstName}}</p>
                    <p><strong>Last Name:</strong> {{this.currentUser.lastName}}</p>
                    <p><strong>Email:</strong> {{this.currentUser.email}}</p>
                </div>
            </mdb-card-body>
        </mdb-card>
    </div>

    <div class="col-9">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Activity">
                <div class="example-small-box mat-elevation-z4">
                    <ul>
                        <li *ngFor="let f of thumbnailName; let in = index">{{f}}</li>
                      </ul>
                </div>
            </mat-tab>
            <mat-tab value="accent" label="My Favorites">
                <div class="example-large-box mat-elevation-z4">
                   big box                      
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="thumbnail" class="img-thumbnail"
  style="width: 200px">