.example-small-box, .galHolder{
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .galHolder {
    height: auto;
    width: 98%;
  }
  .thumbimg{
    min-height: 200px;
    max-height: 200px;
    min-width: 100%;
  }


 figcaption {
  color: mediumseagreen;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  padding-top: 1%;
  font-family: "Delius", cursive;
}
