<div class="pageView">
  <main class="wrapper">
    <section class="hero" [ngStyle]="{'background-image': 'url('+ Cover+')'}">
      <h1 class="boxborder"><small> </small> {{Post.album_title}} <small>{{Post.album_desc}}</small></h1>
    </section>
  </main>
  <!-- start nav-->
  <app-navbar></app-navbar>

  <div class="deck">
    <div class="row">
      <ng-container *ngFor="let a of albumImage;let i = index">
        <div class="mb-2 col-sm-6 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
          <div class="card">
            <div class="card-image">              
              <div class="wrap">
                <img class="img-fluid" [src]="(serverURI + '/images/file/' + a.filename) | safe: 'url'"
                  alt={{a.metadata.caption}} (click)="openModal(a.filename)">
              </div><!-- card image -->
            </div>
            <div class="date">
              <span class="day">{{a.metadata.photo_date | date: 'dd'}}</span>
              <span class="month">{{a.metadata.photo_date | date: 'MMM'}}</span>
              <span class="year">{{a.metadata.photo_date | date: 'yyyy'}}</span>
            </div>
            <div class="favIcons">
              <div *ngIf="Favorites[i]?.favorite; else elseTemplate">
                <button mat-button (click)="removeFavorite(a._id)">
                  <mat-icon>favorite</mat-icon>
                </button>
              </div>
              <ng-template #elseTemplate>
                <div>
                  <button mat-button (click)="makeFavorite(a._id)">
                    <mat-icon>favorite_border</mat-icon>
                  </button>
                </div>
              </ng-template>
            </div>
            <div class="card-content">
              <div class="content-box">
                <span class="card-title"><b>{{a.metadata.caption}}</b></span>
                <button type="button" id="show" class="show btn btn-custom float-right" aria-label="Left Align"><i
                    class="fa fa-ellipsis-v" (click)="openFormModal(a.filename)"></i></button>
              </div>
            </div><!-- card content -->

          </div>
        </div>
      </ng-container>
    </div><!-- ./deck -->
  </div>
</div>
<!--pageView-->

<app-footer></app-footer>