

<div class="auth-wrapper">
    <div class="cont">
       <div class="form sign-in">
          <h2>Welcome back,</h2>
          <form class="form-login" [formGroup]="loginForm" (ngSubmit)="loginUser()">
          <h3 class="h3 mb-3 font-weight-normal text-center">Please sign in</h3>
          <div class="form-group">
             <label>Email</label>
             <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required>
          </div>
          <div class="form-group">
             <label>Password</label>
             <input type="password" class="form-control" formControlName="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-block btn-primary">Sign in</button>
          </form>
       </div>
       <div class="sub-cont">
          <div class="img">
             <div class="img__text m--up">
                <h2>New here?</h2>
                <p>Sign up and discover great amount of new opportunities!</p>
             </div>
             <div class="img__text m--in">
                <h2>One of us?</h2>
                <p>If you already has an account, just sign in. We've missed you!</p>
             </div>
             <div class="img__btn">
                <span class="m--up">Sign Up</span>
                <span class="m--in">Sign In</span>
             </div>
          </div>
          <div class="form sign-up">
             <h2>Time to feel like home,</h2>


             <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter name" required>
        </div>
       
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Sign up</button>
    </form>


          </div>
       </div>
    </div>
 </div>
 
 