/* sample.component.css */
.sticky-nav-wrapper {
  min-height: 40px;
  margin-top: 15px;
}
.sticky-nav {
  height: 40px;
  background-color: burlywood;
  width: 100%;
}
.sticky-box-shadow {
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}
.content {
  margin-top: 15px;
  line-height: 120px;
  background-color: tomato;
}

.holder {
  background-image: url('https://cdn.pixabay.com/photo/2016/12/09/14/25/background-1894944_960_720.jpg');
}
.mat-grid-tile {
  background-size: cover;
  background-repeat: no-repeat;
}