


<div class="header">
    <section class="polaroid-gallery">
     
      <figure class="polaroid-card">
        <img src="../../../assets/pics/navajo_bridge.JPG" alt="img" width="250px" height="200px" >
        <figcaption class="polaroid-card-caption">Navajo Bridge</figcaption>
      </figure>
      <figure class="polaroid-card">
        <img src="../../../assets/pics/mesa_arch.jpg" width="250px" height="200px" alt="Geese">
        <figcaption class="polaroid-card-caption">Mesa Arch</figcaption>
      </figure>
      <figure class="polaroid-card">
        <img src="../../../assets/pics/red_rocks.jpg" width="250px" height="200px" alt="Kingfisher">
        <figcaption class="polaroid-card-caption">Red Rocks of Sedona</figcaption>
      </figure>
      <figure class="polaroid-card">
        <img src="../../../assets/pics/camelback.jpg" width="250px" height="200px" alt="Owl">
        <figcaption class="polaroid-card-caption">Cambel Back Phoenix</figcaption>
      </figure>
      <figure class="polaroid-card">
        <img src="../../../assets/pics/petrified_forest.jpg" width="250px" height="200" alt="Kingfisher">
        <figcaption class="polaroid-card-caption">Petrified Forest</figcaption>
      </figure>
    </section>
   
</div>