@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.wall {
  background: url(https://images.pexels.com/photos/172277/pexels-photo-172277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) repeat;
  height: 350px;
  margin-bottom: 30px;
}

.polaroid-gallery {
  text-align: center;
  padding-top: 40px;
}

.polaroid-gallery-title {
  font-size: 32px;
  font-weight: 400;
  color: #333;
}

.polaroid-card {
  display: inline-block;
  background-color: #eee6d8;
  padding: 10px;
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.7); 
}

.polaroid-card-caption {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 12px;
  margin-top: 6px;
  letter-spacing: 2px;
}

.polaroid-card:nth-of-type(even) {
  transform: rotate(12deg);
  margin-left: 125px;
}

.polaroid-card:nth-of-type(odd) {
  transform: rotate(-12deg);
  margin-left: 125px;
}
/*Tape corners*/
.polaroid-card:nth-of-type(even)::before {
  content: '';
  display: block;
  background-color: rgba(222, 220, 200, 0.66);
  width: 100px;
  height: 25px;
  transform: rotate(-24deg) translate(-30px, -25px);
}

.polaroid-card:nth-of-type(odd)::before {
  content: '';
  display: block;
  background-color: rgba(222, 220, 200, 0.66);
  width: 150px;
  height: 25px;
  transform: translate(140px, -5px) rotate(25deg);
}

/*Photo transition*/
.polaroid-card:nth-of-type(1), .polaroid-card:nth-of-type(2), .polaroid-card:nth-of-type(3), 
.polaroid-card:nth-of-type(4), .polaroid-card:nth-of-type(5) {
  transition: transform 0.75s;
}

.polaroid-card:nth-of-type(1):hover, .polaroid-card:nth-of-type(2):hover, 
.polaroid-card:nth-of-type(3):hover, .polaroid-card:nth-of-type(4):hover,
.polaroid-card:nth-of-type(5):hover{
  transform: scale(1.5);
}

/* sticky navbar */
mdb-navbar {
  z-index: 999;
}
.sticky-nav-wrapper {
  min-height: 40px;
  margin-top: 15px;
  background-color:burlywood;
}
.sticky-nav {
  height: 40px;
  width: 100%;
  background-color:  burlywood;
}
.sticky-box-shadow {
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}

/***************Collage*******************/
.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-rows: 60vh;
  position: relative;
  width: 100%;
  font-family: 'Handlee', cursive;
}
.grid-container::before {
  background-image: url(../../../assets/pics/postcard.jpg);
  /*filter: sepia(100%);*/
  opacity: 0.3;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
.module-inside {
  position: relative;
  font-family: 'Handlee', cursive;
  color: #704214;
  
}
.grid-item {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 ;
}

.slider {
  min-height: 58vh;
  border-style: solid;
  border-color: burlywood;
  border-width: 4px;
}

/*****************/
module, demo1 {
  position: relative;
  font-family: 'Handlee', cursive;
}
.module::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute; 
}
.module-inside {
  position: relative;
  font-family: 'Handlee', cursive;
  font-size: large;
}
/*******************************/
.places {
  color: maroon;
  font-size: large;
}
.box{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
}
.stack-top{
  z-index: 9;
}

.introText h2{
  font-family: 'Handlee', cursive;
  font-size: 48px;
  color: #003366;
  margin-top: 60px;
  margin-left: 46px;
}
.introText p {
  text-align: justify;
  font-size: 26px;
  margin-left: 285px;
  margin-top: 40px;
  margin-right: 80px;
  color: #003366;
  line-height: 1.5;
}
.compass {
  float: left;
  margin-left: -40px;
  height: 170px;
  width: 175px;;
  margin-left: 17px;
  margin-top: 13px;
  transform: rotate(10deg);
}
.demo1 {
  float: left;
  margin-left: -30px;
  margin-bottom: 25px;
  text-align: center;
}
mat-grid-tile {
  /* box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); */
  width: auto;
 }
.plane {
  height: 100px;
  width: 125px;
  float: left;
  padding-left: 50px;
}
.mapTitle {
  font-family: 'Dancing Script', cursive;
  font-size: 76px;
  color: cornflowerblue;
  font-weight: 700;
  text-align: center;
  padding-left: 10%;
}
.compass2 {
  height: 100px;
  width: 125px;
  transform: rotate(12deg);
  float: right;  
  margin-top: -50px;
}
.line-sep{
  border-top: solid 3px cornflowerblue;
  width: 75%;
  margin-left: 10%;
  margin-top: 15px;  
}
.mapNum {
  font-size: x-large;
  font-weight: 700;
  color: cornflowerblue;
  text-transform: uppercase;
}
.mapImg {
  height: 330px;
  width: 500px;
}

footer {
  border-radius: 5px;
  background-color: mediumseagreen;
}