<h2 class="introHead">Create a Post <mdb-icon far icon="images"></mdb-icon></h2>

<div class="row">
<div class=col-6>
<mdb-card>
  <mdb-card-header class="formTitle">Add Album</mdb-card-header>
  <mat-divider></mat-divider>

  <mdb-card-body>
    
    
    <form [formGroup]="addMediaForm" (ngSubmit)="addMedia()">
    <div class="row my-3">
      <div class="col-6">
        <mat-form-field appearance="standard">
          <mat-label>Album Title</mat-label>
          <input matInput placeholder="Enter Album Title" formControlName="album_title" > 
           
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="standard">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="trip_date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-12">
        <mat-form-field appearance="standard">
          <mat-label>Album Description</mat-label>
          <textarea matInput placeholder="Enter post description" formControlName="album_desc"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-12">
        <mat-form-field appearance="standard">
          <mat-label>Tags</mat-label>
          <textarea matInput placeholder="Enter tags" formControlName="tags"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-6">

        <mat-form-field appearance="outline">
          <mat-label>States</mat-label>
          <mat-select formControlName="state" placeholder="state" multiple>
            <mat-option value="wv">West Virginia</mat-option>
            <mat-option value="tx">Texas</mat-option>
            <mat-option value="ut">Utah</mat-option>
            <mat-option value="az">Arizona</mat-option>
          </mat-select>
        </mat-form-field>    
        
        
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" multiple>
            <mat-option value="vacation">Vacation</mat-option>
            <mat-option value="marching band">Marching Band</mat-option>
          </mat-select>
        </mat-form-field> 
      </div>
    </div>
  
    <button type="submit" >Register</button>
  </form>


  </mdb-card-body>
</mdb-card>
</div>
</div><!---./row-->



    <div *ngFor="let list of List">
      <div>filename: {{list.album_title}}</div>
      <div>tripID: {{list.album_desc}}</div>
      <div>Title: {{list.trip_date}}</div>
  </div> 