/* You can add global styles to this file, and also import other style files */

@import '~material-icons/iconfont/material-icons.css';
@font-face {
    font-family: "Handlee";
    src: local("Handlee"), url(./assets/fonts/Handlee/Handlee-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Dancing Script";
    src: local("Dancing Script"), url(./assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf) format("truetype")
}

@font-face {
    font-family: "Marmelad";
    src: local('Marmelad'), url(./assets/fonts/Marmelad/Marmelad-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Overlock";
    src: local('Overlock'), url(./assets/fonts/Overlock/Overlock-Black.ttf) format("truetype");
}
@font-face {
    font-family: "Delius";
    src: local('Delius'), url(./assets/fonts/Delius/Delius-Regular.ttf) format("truetype");
}
@font-face {
    font-family: 'Noto Sans TC';
    src: local('Noto Sans TC'), url(./assets/fonts/Noto_Sans_TC/NotoSansTC-Regular.otf) format("opentype");
}

html, body { height: 100%; }
body { margin: 15px; font-family: Roboto, "Helvetica Neue", sans-serif; }


